@model MusicStore.WebUI.Models.Cart

<a href="@Url.Action("Index", "Cart")" class="btn btn-outline-light">
    Cart
    <span class="badge bg-success ms-1">
        @Model.TotalItems()
    </span>

    <span class="ms-2">
        @Model.ComputeTotalValue().ToString("C")
    </span>
</a>
