@model IEnumerable<string>

<div class="list-group">

    <a href="@Url.Action("List", "Instrument", new { category = (string)null })"
       class="list-group-item list-group-item-action">
        All Instruments
    </a>

    @foreach (var link in Model)
    {
        <a href="@Url.Action("List", "Instrument",
        new { category = link, page = 1 })"
           class="list-group-item list-group-item-action
       @(link == ViewBag.SelectedCategory ? "active" : "")">

            @link
        </a>
    }

</div>